body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: rgb(225, 208, 232);
}

.header {
    display: flex;
    height: 100px;
}

.content {
    display: flex;
    justify-content: center;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    height: 80px;
    margin: 0px;
}

.footer p {
    margin: 5px;
    padding: 5px;
    font-weight: bold;
    color: rgb(0, 0, 0);
}

.github {
    width: 20px;
    height: 20px;
    margin: 5px;
}

.calculator {
    display: flex;
    flex-direction: column;
    border: solid;
    border-radius: 10px;
    width: 550px;
    padding: 10px;
    background-color: rgb(102, 124, 204);
}

hr {
    width: 100%;
    padding: 0;
    margin: 0;
    border: 0;
}

#screen {
    display: flex;
    flex-wrap: wrap;
}

#memory {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 50px;
    width: 500px;
    background-color: rgb(249, 252, 255);
    border-top: solid;
    border-left: solid;
    border-right: solid;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin: 25px 25px 0 25px;
    font-size: 40px;
}
.under {
    display: flex;
    flex-wrap: nowrap;
    width: 550px;

}
#current {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 420px;
    height: 80px;
    background-color: rgb(249, 252, 255);
    border-bottom: solid;
    border-right: solid;
    border-bottom-right-radius: 10px;
    margin: 0 25px 25px 0;
    font-size: 50px;
}

#operator {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    background-color: rgb(249, 252, 255);
    border-left: solid;
    border-bottom: solid;
    border-bottom-left-radius: 10px;
    margin: 0 0 25px 25px;
    font-size: 50px;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.btn {
    height: 70px;
    width: 70px;
    font-size: 40px;
    margin: 10px;
    border-radius: 8px;
    border-width: 3px;
}

#percent, .op {
    background-color: rgb(240, 145, 145);
}

#clear, #backspace {
    background-color: rgb(156, 235, 140);
}

#equal {
    width: 205px;
    background-color: rgb(144, 187, 225);
}

.result {}

.withDot {}